.parrafo{
    font-size: 60px;
    color: brown;
}

.level1{
    font-size: 30px;
    color: red;
}

.level2{
    font-size: 40px;
    color: blue;
}

.level3{
    font-size: 50px;
    color: green;
}